.card {
  height: 40vh;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: opacity 0.5s;
  transition: border 2s ease-in;
}

.card:hover {
  overflow-y: auto;
}

.project > .card:hover {
  border: none;
}

.card-body {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s ease;
}

.card:hover .card-title,
.card:hover .card-badges,
.card:hover .card-info,
.card:hover .btn {
  opacity: 1;
}

.card:hover  .btn:disabled {
  opacity: 0.5;
}

.project > .card-title {
  opacity: 0;
  transition: opacity 0.25s;
  font-size: 1.5em;
  font-family: Georgia;
}

.card-info {
  opacity: 0;
  transition: opacity 0.25s;
  font-size: 1em;
}

.card-badges {
  opacity: 0;
  transition: opacity 0.25s;
  font-size: .75em;
}

.hiddenbtn, .project > .btn:disabled {
  opacity: 0;
  transition: opacity 0.25s;
  font-size: 1em;
}

.scroll-hide {
  overflow-y: hidden;
}

.scroll-hide:hover {
  overflow-y: auto;
}

.card-body:hover {
  background-color: rgba(255, 255, 255, 0.98);
}

@media only screen and (max-width: 768px) {
  .card-title {
    font-size: 1.6em;
  }
  
  .card-info {
    opacity: 0;
    font-size: 1em;
  }
  
  .card-badges {
    opacity: 0;
    font-size: .75em;
  }
  
  .hiddenbtn .btn:disabled {
    opacity: 0;
    font-size: .75em;
  }
}